.info {
  width: 100%;
  color: var(--text-color);
}

.back__button {
  position: fixed;
  font-size: 2rem;
  left: 1rem;
  top: 1rem;
  background-color: #ffffff77;
  border-radius: 50%;
  padding: 0 0.5rem;
}

.info a,
h1 {
  color: var(--text-color);
}

.info a {
  text-decoration: underline;
}

.info__container {
  display: flex;
  flex-direction: row;
  padding: 5rem;
}

.info__me {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.info__picture {
  width: 200px;
  height: 200px;
}

.info__more {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.info__more span {
  width: 50%;
  text-align: justify;
}

.info__sosmed {
  display: flex;
  flex-direction: column;
}

.info__achieve {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.info__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.info__item::after {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 1px;
}

.info__detail {
  display: flex;
  flex-direction: column;
}

.info__typography {
  line-height: 4rem;
  overflow: hidden;
}

.info__typo {
  white-space: nowrap;
  font-size: 5rem;
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.typo__filled {
  text-transform: uppercase;
  font-style: var(--font-style-typography);
  transform: translateX(-100%);
  color: white;
}

/* breakpoints */
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .info__container {
    display: flex;
    flex-direction: column;
    padding: 3rem 3rem 8rem 3rem;
    gap: 2.5rem;
  }
  .info__me {
    width: 100%;
  }
  .info__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .info__more span {
    width: 100%;
  }
  .info__achieve {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}
@media screen and (max-width: 350px) {
}
